.navbarContainer{
   @apply h-auto flex p-2;
   background: #000080;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   margin-bottom: 30px;
}
.logo{
    @apply ml-10
}
.logo h1{
    color: #FFF;
    font-size: 40px;
    font-family: Lexend Deca;
}
.menu-list{
 @apply mr-10
}
.menu-list ul li{
    display: inline;
    margin-right: 10px;
}